/* stylesheet */
body {
	margin: 0;
	line-height: 125%;
	word-wrap: break-word;
	background-color: gainsboro;
	font-family: 'Raleway', sans-serif;
}

.main-header,
.main-footer,
.footer-col,
.hero {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.main-header {
	padding: 30px 0;
}

h1 {
	color: #FFF;
	font-size: 2rem;
}

h2,
h3 {
	font-size: 1.5rem;
	text-align: center;
}

small {
	font-size: 0.75rem;
}

a {
	color: cornflowerblue;
	text-decoration: none;
}

hr {
	margin-bottom: 20px;
}

.main-header,
.footer-col {
	background-color: #2c3e50;
}

.banner {
	padding: 40px;
	margin: 40px auto;
	background: #F8F8F8;
}

.hero {
	flex-grow: 1;
	margin: auto;
	display: flex;
	padding: 40px;
	min-height: 70vh;
	flex-direction: column;
	background-size: cover;
	-o-background-size: cover;
  -ms-background-size: cover;
	background-position: 50% 0;
  -moz-background-size: cover;
	background-repeat: no-repeat;
  -webkit-background-size: cover;
	background-image: url('../img/pdx.jpg');
}

.logo {
	display: flex;
	align-self: center;
	max-width: 55vw;
	max-height: 55vw;
	border-radius: 50%;
	border: 2px slategrey dotted;
}

.headline {
	margin-top: 80px;
	text-shadow: 2px 2px 2px #FFF;
}

.center {
	margin-top: 10px;
	text-align: center;
	text-shadow: 2px 2px 2px #FFF;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
}

#projects {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.project {
	flex: 1;
	padding: 10px;
	max-width: 100%;
	flex-wrap: wrap;
	min-width: 23.750rem;
	margin-top: 30px;
}

.project:first-child {
	margin-top: 0;
}

.project > header > h3 {
	padding-bottom: 15px;
}

.other,
.social,
.copy {
	display: initial;
	text-align: center;
}

#devicons {
	display: flex;
  flex-wrap: wrap;
}

.icons {
	flex-grow: 1;
	padding: 10px;
	font-size: 2.5em;
	flex-wrap: wrap;
	justify-content: space-around;
}

.thanks {
	order: -1;
}

.main-footer > hr {
	display: none;
}

.main-footer > div > h3 {
	padding-bottom: 20px;
}

.footer-col {
	flex-grow: 1;
	margin-top: 2px;
	padding: 10px 20px;
}

.footer-col > h3,
.copy > p {
	color: #FFF;
}

@media (min-width: 47.94rem) {
	body {
		font-size: 1.25rem;
	}

	.banner {
		padding: 40px;
		margin: 40px 5%;
	}

	.logo {
		max-width: 30vw;
		max-height: 30vw;
	}

	.projects-container,
	.banner {
		max-width: 90vw;
		align-items: center;
	}

	.project {
		margin: 5px 10px;
	}

	.icons {
		font-size: 3rem;
	}

	.thanks {
		order: 0;
	}

	.main-footer > hr {
		display: initial;
	}

}

@media (min-width: 67.438rem) {
	body {
		font-size: 1.5rem;
	}

	.projects-container,
	.banner {
		max-width: 85vw;
		align-items: center;
	}

	.logo {
		max-width: 20vw;
		max-height: 20vw;
	}

}
