// ======================================
//  Layout Container Styles
// ======================================

// Main content
.main-content {
  @include flexy($disp: flex, $wrap: wrap);
  @include mq('m') {
    @include center;
  }
}

main {
  padding: 5px 0 50px 0;
  background-color: $color-bg;
  min-height: 90vh; 
}

.header {
  padding: 20px 0;
}

#flashcards,
#new_card,
#buckets {
  @include flexy($disp: flex, $wrap: nowrap, $dir: column, $justify: space-around);
  @include center;
  padding: $gutter;
  max-width: 550px;
  margin: $gutter auto;
  background-color: $color-primary-dark;
  border: 1px solid darken($color-shade, 20%);
}

#flashcards,
#buckets {
  flex-direction: row;
  background-color: $color-primary-light;
}

#new_card {
  background-color: $color-primary-light;
}

#flashcards {
  @include flexy($disp: flex, $wrap: wrap, $dir: row);
}

input,
#current_card,
#buckets {
  width: 90%;
  min-height: 90px;
  padding: $gutter;
  background-color: $color-primary;
  border: 1px solid darken($color-shade, 20%);
  @include mq('m') {
    flex-grow: 2;
  }
  @include mq('l') {
  }
}

#bucketWrong,
#bucketRight {
  margin-bottom: $gutter;
}

#scoreboard {
  width: 100%;
  margin: $gutter auto;
}

#wrongAnswerCount,
#correctAnswerCount {
  margin: $gutter;
}

#singleAdd,
#multipleAdd {
  margin: 20px auto;
}
