* {
  text-align: center;
  font-size:1.2em;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 150%;
}

.wrapper {
  border: 0;
  min-height: 100%;
  min-width: 100%;
  background-image: url('./mountain.jpeg');
  background-size: cover;
}

#header {
  padding-top: 20px;
}

#madlib_holder {
  background: rgba(10, 10, 10, 0.6);
}

#madlib_holder, #queries {
  padding: 60px;
}

#submitButton, #resetButton {
  margin-top: 30px;
  max-height: 80px;
  width: 100%;
  border:2px solid #cfdcec;
  overflow:hidden;
  background: rgba(10,10,10,0.2);
  box-shadow: 0 0 2px gray;
}

#submitButton:hover, #resetButton:hover {
  background: rgba(10,10,10,0.6);
}

input {
  background: rgba(10,10,10,0.2);
  margin: 10px 0;
  max-width: 90%;
}

.hidden {
  display: none;
}

#answer {
  color: #000;
  background-color: rgba(10,10,10,0.2);
}

#footer {
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 800px) {
  * {
    font-size:1.1em;
  }
  .inner {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
  }
}
