* {
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
}

.wrapper {
  border: 0;
  min-height: 100%;
  min-width: 100%;
  background-image: url('./mountain.jpeg');
  background-size: cover;
  font-size: x-large;
}

#header {
  min-height: 60px;
}

#madlib_holder {
  background: rgba(10, 10, 10, 0.5);
}
#madlib_holder, #queries {
  padding: 40px;
  padding-bottom: 60px;   /* Height of the footer */
  line-height: 150%;
}

.hidden {
  display: none;
}

#answer {
  color: #000;
  background-color: transparent;
}

#footer {
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
