* {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 3em;
  letter-spacing: 1px;
  font-weight: lighter;
  margin: 20px auto;
  min-height: 40px;
}

h4 {
  font-weight: lighter;
  margin: 15px auto;
  padding: 15px 10px 0 10px;
}

main {
  margin: 0;
  border: 0;
  width: 100%;
  background-color: #c2f5e6;
  background-size: cover;
  min-height: 80vh;
}

#article-holding-div {
  margin: 25px auto;
}

#get-new-article-button {
  background: rgba(20, 20, 20, 0.2);
  cursor: pointer;
  padding: 20px;
  outline: none;
  border: none;
  margin: 20% 0;
  color: #fff;
  font-weight: 800;
  font-size: 115%;
  text-transform: uppercase;
}

.article {
  position: relative;
  padding: 20px;
  border-radius: 0.35em;
  color: #000;
  min-width: 12em;
  max-width: 40em;
  line-height: 120%;
  font-size: 1.55em;
  background-color: #eee;
  margin: 100px auto 0 auto;
  font-weight: 400;
  text-transform: none;
  font-size: 100%;
}

.after-click {
  margin: 0!important;
}

.hidden {
  display: none;
}

@media all and (min-width: 600px) {
}

/*
* Transitions & Animations
*/

.article {
  opacity: 0;
  -webkit-animation: fadein ease-in 1s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein ease-in 1s; /* Firefox < 16 */
      -ms-animation: fadein ease-in 1s; /* Internet Explorer */
        -o-animation: fadein ease-in 1s; /* Opera < 12.1 */
          animation: fadein ease-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}