// VARIABLES ------------------------------------ /

$white: #fff;
$black: #000;

$color-primary: #DF7D60;
$color-secondary: #fffff0;
$color-accent: #ffffcc;
$color-shade: #eee;
$color-body: #51A5BA;

$color-text: #343434;
$color-bg: #1144bb;
$color-bg-light: #87E293;

$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

$max-width: 1500px;
