// ======================================
//  Variables
// ======================================

$color-primary: #8F1D21;
$color-primary-light: lighten($color-primary, 30%);
$color-primary-dark: darken($color-primary, 30%);

$color-secondary: #303436;

$color-accent: #1d258f;

$color-mix: mix($color-primary, $color-secondary, 50%);

$color-text: #eee;
$color-text-light: lighten($color-text, 30%);
$color-text-dark: darken($color-secondary, 30%);

// Fonts
$font-stack-primary: monospace;
$font-stack-secondary: 'Raleway', sans-serif;

// Layout
$max-width: 2500px;
$gutter: 3px;

// Breakpoints
$break-xs: 36em; //576px
$break-s: 48em; //768px @16px base pixel size
$break-m: 62em; //992px 
$break-l: 75em; //1200px
$break-xl: 120em; //1920px