// ======================================
//  Variables
// ======================================

$color-primary: #38B2CE;
$color-primary-light: lighten($color-primary, 20%);
$color-primary-dark: darken($color-primary, 20%);

$color-secondary: #60B9CE;

$color-accent: #FF7F00;

$color-mix: mix($color-primary, $color-secondary, 50%);

$color-text: #111;
$color-text-light: lighten($color-text, 20%);
$color-text-dark: darken($color-text, 20%);

// Fonts
$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

// Layout
$max-width: 1000px;
$gutter: 10px;

// Breakpoints
$break-s: 48em;
$break-m: 62em;
$break-l: 75em;
$break-xl: 120em;