// ======================================
//  Variables
// ======================================

$color-primary: #f7f5e6;
$color-primary-light: lighten($color-primary, 20%);
$color-primary-dark: darken($color-primary, 20%);

$color-secondary: #333a56;

$color-accent: #52658f;
$color-shade: mix($color-primary, $color-secondary, 50%);

$color-text: black;
$color-text-secondary: white;

$color-bg: #e8e8e8;

// Fonts
$font-stack-primary: 'Raleway', sans-serif;
$font-stack-secondary: 'Bree Serif', serif;

// Layout
$max-width: 1000px;
$gutter: 10px;

// Breakpoints
$break-s: 48em;
$break-m: 62em;
$break-l: 75em;
$break-xl: 120em;