/* Task List styles */

* {
	max-width: 100%;
	box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
}

main {
  min-height: 100vh;
  padding-bottom: 20px;
  background-color: #c2f5e6;
}

#wrapper {
  width: 30em;
  color: #333;
  margin: 0 auto;
  max-width: 100%;
  font-family: Lato, sans-serif;
}

h1 {
  font-size: 3em;
  min-height: 40px;
  margin: 20px auto;
  letter-spacing: 1px;
  font-weight: lighter;
}

h1.pwa {
  display: none;
}

h4 {
  margin: 15px auto;
  font-weight: lighter;
  padding: 15px 10px 0 10px;
}

h1,
h4 {
  text-align: center;  
}

h5 {
  color: #333;
  font-size: 15px;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
}

span {
  margin: 7px 5px 7px 0;
  float: right;
}

ul {
  margin-top: -5px;
  padding: 0;
}

li {
  list-style-type: none;
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;
}

button {
  width: 33%;
  margin-top: 15px;
  color: #222;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 2px;
  border-radius: .45em;
  background-color: rgb(253, 253, 253);
  border: 2px solid #BBB;
}

button:hover {
  border: 2px solid #888;
}

button#add,
button#save {
  color: #0FC57C;
}

button.delete {
  color: #F24C43;
}

button.edit,
button#retrieve {
  color: #004FFF;
}

button#save,
button#retrieve {
  width: 100%;
  margin: 2px auto;
}

input[type="text"] {
  width: 100%;
  margin: 6px auto;
  border: 1px solid #ddd;
  background: #fff;
  color: #888;
  height: 2em;
  padding-left: 5px;
}

input[type="text"]:focus {
  color: #333;
}

label[for='new-task'] {
  padding-left: 0;
}

input[type=checkbox] {
  float: right;
  margin: 10px 5px 7px 0;
}

@media all and (min-width: 500px) {
  h5 {
    text-align: initial;
  }
}

/* Rules for PWA launching in standalone mode */
@media all and (display-mode: standalone) {
  /* Hide title text and tech stack explanation */
  h1,
  h4 {
    margin: 0;
    padding: 0;
    display: none; 
  }
  h1.pwa {
    display: block;
    padding-top: 20px;
  }
}
