body {
	text-align: center;
	background-color: #eee;
}

div > p {
	padding-top: 20px;
}

.btn {
	border-radius: 0;	
	color: #fff;
	background-color: #0069d8;
	min-height: 80px;
}

.selected {
	background-color: #ebeef1;
}

.wrapper {
	margin-top: 40px;
	max-width: 600px;
}

.header {
	background-color: #0069d8;
	padding: 5px;
	text-align: center;
}

.footer {
	bottom: 0;
	position: absolute;
	width: 100%;
}

h2, h3, p, .btn, .btn-disabled {
	text-shadow: 1px 1px 1px #000;
	color: #fff;
	margin-top: 0;
	text-align: center;
}

p {
	font-weight: bolder;
}

@media screen and (min-width: 750px) {
	.container { /* Reset for bootstrap weirdness */
		width: initial;
	}

}