// ======================================
//  Layout Container Styles
// ======================================

// Main content
.main-content {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $break-m) {
    @include center;
  }
}

main {
  background-color: $color-shade;
}

.hero {
  padding: 1em 1em 3em;
  margin: 10px auto 0 auto;
  background: linear-gradient($color-primary, $color-secondary),
              url('../img/pdx.jpg') no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  color: $color-text-secondary;
  text-shadow: 1px 1px black;
  p {
    font-size: 1.2em;
  }
}

.banner {
  padding: 20px;
  margin: 50px 0;
  color: $color-text;
  background-color: $color-primary-light;
}

.exercism {
  display: flex;
  flex-wrap: wrap;
  &-hidden {
    display: none;
  }
}

.card,
.exercise {
  width: 100%;
  margin: $gutter;
  padding: 1.5em 1em;
  border-radius: 0.25em;
  background-color: $color-accent;
  border: 1px solid darken($color-shade, 20%);
  h1 {
    line-height: 1.25;
    margin: 0.35em 0 0;
    color: $color-text;
  }
  @media (min-width: $break-s) {
    flex: 1 per-line(2);
    justify-content: space-around;
  }
  @media (min-width: $break-m) {
    flex-basis: per-line(3);
    justify-content: space-around;
  }
  @media (min-width: $break-l) {
    flex-basis: per-line(4);
  }
}
