// ======================================
//  Header Styles
// ======================================

.main-header {
  background: #eee;
  h1 {
  padding: 10px;
  min-height: 40px;
  }
  p {
    margin: 0;
    font-size: 1.25em;
    color: $color-accent;
  }
}
