// ======================================
//  Button Styles
// ======================================

%btn {
  border-radius: 4px;
  cursor: pointer;
  max-width: 50rem;
  font-weight: bold;
  margin: $gutter auto;
  display: block;
  text-decoration: none;
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  background-color: $color-primary;
  border: solid 2px lighten($color-primary, 10%);
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  &:hover {
    opacity: 0.8;
    border-color: $color-primary-dark;
    color: $color-text-light;
    background-color: $color-primary-light;
  }
  &:active {
    opacity: initial;
  }
}

.btn {
  &-social {
    @extend %btn;
    border: none;
    display: inline-block;    
  }
  &-info {
    @extend %btn;
  }
}
