// ======================================
//  Button Styles
// ======================================

%btn {
  max-width: 50rem;
  font-weight: bold;
  margin: $gutter auto;
  display: inline-block;
  text-decoration: none;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;
  transition: opacity 0.3s;
  text-transform: uppercase;
  background-color: $color-primary-light;
  &:hover {
    color: $color-shade;
    text-shadow: 1px 1px $black;
    opacity: 0.8;
  }
  &:active {
    opacity: initial;
  }
}

.btn {
  &-callout {
    @extend %btn;
  }
  &-info {
    @extend %btn;
  }
}
