// ======================================
//  Icon Styles
// ======================================

.icons,
.social > a {
  flex-grow: 1;
	padding: 10px;
	font-size: 1.75em;
	justify-content: space-around;
}

.icons {
  font-size: 2.35em;
  &:hover {
    color: $color-accent;    
  }
}

#devicons {
  display: flex;
  flex-wrap: wrap;
}
