// ======================================
//  Icon Styles
// ======================================

.icons,
.social > a {
  flex-grow: 1;
	padding: 10px;
	font-size: 1.75em;
	justify-content: space-around;
  &:hover {
    color: $color-shade;
    text-shadow: 1px 1px $black;
  }
}

.icons {
  font-size: 2.35em;
  color: $color-secondary;
}

#devicons {
  display: flex;
  flex-wrap: wrap;
}
