// ======================================
//  Image Styles
// ======================================

.img-featured {
  z-index: 100;
  max-width: 50vw;
  max-height: 50vh;
  margin-top: 50px;
  border-radius: 50%;
  position: relative;
  border: 4px solid #e8e8e8;
    @include mq('xl') {
    max-width: 600px;
  }
}

.portfolio-image {
  float: left;
  padding: 0 10px 10px;
  max-width: 290px;
}