// ======================================
//  Helper Placeholders
// ======================================

%clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

%hidden,
.hidden {
  display: none!important;
}
