// =========================================
//  Mixins
// =========================================

// Slanted effect
@mixin skewed {
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: skewY(-2deg);
    @content;
    @media (min-width: $break-l) {
      transform: skewY(-1deg);
    }
  }
}

// Center containers
@mixin center {
  margin-left: auto;
  margin-right: auto;
  -ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
  align-items: center;
  align-self: center;
}

// Flex container
@mixin flexy($disp: flex, $dir: null, $wrap: null, $justify: null) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: $disp;

  -webkit-flex-flow: $dir $wrap;
  flex-flow: $dir $wrap;

  justify-content: $justify;
}

// Media Queries

@mixin mq($break) {
  @if $break == 's' {
    @media (min-width: $break-s) {
      @content;
    }
  }
  @else if $break == 'm' {
    @media (min-width: $break-m) {
      @content;
    }    
  }
  @else if $break == 'l' {
    @media (min-width: $break-l) {
      @content;
    }    
  }
}