body {
	text-align: center;
	background-color: darkcyan;
}

ul {
	list-style: none;
}

ul.row {
	padding-left: 0 !important;
}

.previous_card, .next_card, #current {
	white-space: pre-wrap;
}

#current {
	min-height: 150px;
}

#inputNewCardFront:after {
	content:"\a";
    white-space: pre;
}

#flashcards {
	max-width: 350px;
}

.well {
	font-size: x-large;
}

/*

@media (min-width: 320px) and (max-width: 568px) {
	.previous_card, .next_card {
		min-height: 40px;
		white-space: pre-wrap;
	}

	#current {
		min-height: 80px;
	}
}

@media (min-width: 568px) {

}

*/