* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background: #fff;
}

ul {
	list-style: none;
	text-align: center;
}

ul li {
	text-align: center;
}

p {
	text-align: center;
}

.center {
	margin: 30px auto;
	padding: 10px 20px;
	text-align: center;
	display: block;
}

.current_card {
	min-height: 100px;
}

@media (min-width: 320px) and (max-width: 568px) {

}

@media (min-width: 568px) {

}