body {
	text-align: center;
	background-color: #eee;
}

#current_card, #previous_card, #next_card {
	min-height: 175px;
	padding-top: 50px;
}

#current_card {
	background-color: #3399FF;
	white-space: pre-wrap;
	font-size: x-large; 
	text-shadow: 1px 1px 1px #fff;
}

#previous_card {
	border-right: 0;
}

#next_card {
	border-left: 0;
}

#flashcards, #new_card {
	min-height: 300px;
}

#inputManyNewCards {
	min-height: 100px;
}

#flashcards, #new_card {
	background-color: #3399FF;
	max-width: 450px;
	margin-top: 40px;
}

#buckets {
	margin-top: 30px;
}

#bucketRight {
	background-color: #00d43e;
}

#bucketWrong {
	background-color: #d11313;
}

#wrongSize, #rightSize {
	background-color: lightgrey;
	border-radius: 25px;
	max-width: 25px;
}

.form-control, .btn {
	border-radius: 0;	
	color: #000;
}

.header {
	background-color: #384047;
	height: 80px;
	padding: 5px;
	text-align: center;
}

h2 {
	text-shadow: 1px 1px 1px #000;
	margin-top: 0;
	text-align: center;
	color: #3399FF;
}

h3 {
	text-shadow: 1px 1px 1px #fff;	
}

p {
	text-shadow: 1px 1px 1px #000;
	text-align: center;
	color: #3399FF;
}

@media screen and (min-width: 750px) {
	.container { /* Reset for bootstrap weirdness */
		width: initial;
	}

	.form-control, .btn {
		margin-bottom: 15px;
	}
}