/* Base Styles ------------------------------------------- */

* {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.15;
  text-align: center;
  color: $color-text;
  font-family: $font-stack-primary;
}

h1, 
h5 {
  font-size: 3em;
  letter-spacing: 1px;
  font-weight: lighter;
  margin: 20px auto;
  min-height: 40px;
}

h5 {
  font-size: 1.5rem;
  @include mq('m') {
    font-size: 2rem;
  }
  @include mq('l') {
  }
}

small {
  font-size: 85%;
}

p {
  margin: 0.25em;
}

a {
  color: $color-text;
  text-decoration: none;
  &:hover {
    color: $color-text-secondary;
  }
}

input {
  min-height: 100px;
  width: 100%;
  padding: 10px;
  background-color: white;
}