/* Base Styles ------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: $color-text;
  font-family: $font-stack-primary;
  background: url('../img/grayCrossEmpty.svg');
  background-attachment: fixed;
  background-position: center;
  background-size: 5px;
  max-width: $max-width;
  margin: 0 auto;
}

h2,
h3 {
  font-family: $font-stack-secondary;
}

h2,
h3 {
  font-size: 145%;
}

h4 {
  font-size: 110%;
  padding-bottom: 10px;
}

small {
  font-size: 85%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0 auto 1.25em;
  max-width: 1025px;
}

a {
  color: $color-text;
  text-decoration: none;
}
