/* Base Styles ------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 15px;
  line-height: 1.35;
  text-align: center;
  font-family: $font-stack-primary;
  max-width: $max-width;
  letter-spacing: 0.025em;
  @include mq('xl') {
    font-size: 16px;    
  }
}

h1 {
  font-size: 2.2em;
  @include mq('l') {
    font-size: 3em;
  }
  @include mq('xl') {
    font-size: 2.7em;
  }
}

h2,
h3 {
  font-family: $font-stack-secondary;
  font-weight: 500;
  font-size: 2.15em;
  line-height: 1.25em;
  letter-spacing: -0.05em;
  @include mq('l') {
    font-size: 2em;
  }
  @include mq('xl') {
    font-size: 1.75em;
  }
}

h4 {
  font-size: 1.15em;
  @include mq('l') {
    font-size: 1.5em;
  }
  @include mq('xl') {
    font-size: 1.35em;
  }
}


hr {
  max-width: 90%;
}

small {
  font-size: 85%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0 auto 1.25em;
  max-width: 1025px;
  @include mq('l') { //1200
    max-width: 1225px;
  }
  @include mq('xl') { //1920
    max-width: 1425px;
  }
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    opacity: 0.8;
    color: $color-text-dark;
  }
}

details {
  padding: 3px;
}

summary {
  padding: 5px 3px 10px;
}

summary ~ p {
  margin: 0;
}